@import-normalize;

.message {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: .75em;
  margin-top: .5em;
}

.greetings {
  color: rgb(200, 251, 234);
  font-size: 4rem;
}