@import-normalize;

.weatherContainer, .weathers, .weatherName{
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  padding: 0px 10px;
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
}


.weatherIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.weathers  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  flex-direction: row;
  margin-top: 2em;
}

.temp {
  font-weight: normal;
  font-size: 25px;
}

.weatherName {
  font-size: 1em;
  margin-right: .75em;
}

