@import-normalize;


.App {
  width: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-position: center ;
  image-rendering: pixelated;
  mix-blend-mode: difference;
  color: rgb(252, 255, 255); 
}

