@import-normalize;

.App {
  width: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-position: center ;

}







/* styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  /* add styles here */
  body {
    font-size: 14px;
  }
}

/* styles for screens between 600px and 900px */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* add styles here */
  body {
    font-size: 16px;
  }
}

/* styles for screens larger than 900px */
@media only screen and (min-width: 900px) {
  /* add styles here */
  body {
    font-size: 18px;
  }
}